<!DOCTYPE html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <style>
    .col-xs-4 {
      width: 33.33333333%;
      margin: 6px 0px 26px 54px;
  }
</style>
</head>
<body>
  <div class="container">
    <form>
        <div class="form-group row">
            <label for="inputfullname3" class="col-sm-2 col-form-label">Fullname</label>
            <div class="col-sm-10">
              <input type="fullname" class="form-control" id="fullname" placeholder="Fullname">
            </div>
          </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputusername3" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="username" class="form-control" id="username" placeholder="Username">
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <label for="inputusername3" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender1" value="male"checked="checked1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender2" value="female"checked>
                <label class="form-check-label" for="gridRadios2">
                  Female
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gender" id="gender3" value="other"checked>
                <label class="form-check-label" for="gridRadios3">
                  Other
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label for="inputusername3" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" name="state" type="checkbox" value="punjab"id="gridCheck1"checked>
              <label class="form-check-label" for="gridCheck1">
                Punjab
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="state" type="checkbox" value="himachal"id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Himachal
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="state" type="checkbox" value="haryana"id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  haryana
                </label>
              </div>
          </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label for="inputusername3"  id ="city" class="col-sm-2 col-form-label">City</label>
              <select class="custom-select mr-sm-2" id="singleSelectTextDDjQuery">
                <option selected>Choose...</option>
                <option value="Jalandhar">Jalandhar</option>
                <option value="Amritsar">Amritsar</option>
                <option value="chandigarh">chandigarh</option>
              </select>
            </div>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file"id="prv_img_upload"name="file"  value="Upload">
                <label for="inputusername3" class="col-sm-2 col-form-label">Profile Upload</label>
              </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button onclick="fun()"type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
</div>

<script>

    function fun(){
        var fullname = document.getElementById('fullname').value;
        var email = document.getElementById('email').value;
        var username = document.getElementById('username').value;
        var gender = document.querySelector('input[name = "gender"]:checked').value;
        var state = document.querySelector('input[name = "state"]:checked').value;
        var city = $("#singleSelectTextDDjQuery").val();
        var file = document.getElementById('file').files[0];

          
        var checkboxval = [];
$(':checkbox:checked').each(function(i){
          checkboxval.push($(this).val());
        });
console.log(checkboxval)  
        


        var form_data={
            fullname:fullname,
            email:email,
            username:username,
            gender:gender,
            state:state,
            city:city,
         //   profile:profile 
        }
        var formData = new FormData();
        formData.append('fullname', fullname);
        formData.append('email', email);
        formData.append('username', username);
        formData.append('gender', gender);
        formData.append('state', checkboxval.toString());
        formData.append('city', city);
        formData.append('file', file);






        $.ajax({
            url:"/api/home/add",
            //dataType:"json",
            //contentType: 'application/json',
            data:formData,
            processData: false,
                contentType: false,
                type: 'POST',

            success:function(data){
               if(data.status){
                   swal(data.message);
             window.location = "/home"; 
               }
            }
            
        })
  

    }
</script>

<script>
  function update(){
  var user_id = $("#user_id").val();
  var fullname_update=$("#fullname_update").val();
  var email_update=$("#email_update").val();
  var username_update=$("#username_update").val();
  var gender_update=$("#gender_update").val();
  var state_update=$("#state_update").val();
  var city_update=$("#city_update").val();


  var data={
    user_id:user_id,
    fullname_update:fullname_update,
    email_update:email_update,
    username_update:username_update,
    gender_update:gender_update,
    state_update:state_update,
    city_update:city_update


  }
  console.log(data);

  $.ajax({
    url:"/api/home/user-update",
    type:"PUT",
    dataType:"json",
    contentType:"application/json",
    data: JSON.stringify(data),
            success: function (data) {
              console.log(data)
              if (data.status) {
                swal(data.message);
                window.location = "/home";          }
            }
  })
  }

  
 function getUserById(id){
   
       $.ajax({
         url: '/api/get-user-by-id/'+id,
         type: "GET",
         dataType: 'json',
         contentType: 'application/json',
         success:function(data){
           if(data.status){
            $("#modal-default").modal('show')
             
             var res = data.data[0];
             console.log(res)
             $("#fullname_update").val(res.fullname);
             $("#email_update").val(res.email);
             $("#username_update").val(res.username);
             $("#gender_update").val(res.gender);
             $("#state_update").val(res.state);
             $("#city_update").val(res.city);
             $("#user_id").val(res._id);              



           }
         }


})


 }

</script>


<script>
  function del(id){
    swal({
title: "Are you sure?",
text: "You Want to Delete This!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
  $.ajax({
      url: '/api/home/delete?id='+id,
      type: 'DELETE',
      dataType: 'json',
      contentType: 'application/json',
      //data: JSON.stringify(form_data),
      success: function (data) {
        if (data.status) {
          swal(data.message);
           window.location = "/home";
        }
      }
    })
  swal("File has been deleted!", {
    icon: "success",
  });
} else {
  swal("Your imaginary file is safe!");
}
});

  }
</script>

<div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Gender</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Profile</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
          <% for(var i=0; i< data.length; i++) {%>

        </thead>
        <tbody>
          <tr>
            <td><%= data[i].fullname %></td>
            <td><%= data[i].email%></td>
            <td><%= data[i].username%></td>
            <td><%= data[i].gender%></td>
            <td><%= data[i].state%></td>
            <td><%= data[i].city%></td>
   <td><img src="<%= data[i].fullUrl%>" style="height:50px"></td>

            <th><button type="button"onclick="getUserById('<%= data[i]._id%>')"class="btn btn-info" >Edit</button>
            </th>
            <th><button type="button"onclick="del('<%=data[i]._id%>')"class="btn btn-danger">Delete</button>
            </th>
            <div class="modal fade" id="modal-default">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit User Info</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body&hellip;</p>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-xs-4">
                        <label for="ex3">Fullname</label>
                        <input class="form-control" id="fullname_update" type="text"placeholder="Fullname Change">
                        <input type="hidden" id="user_id">
                      </div>
                      <div class="col-xs-4">
                        <label for="ex3">Email</label>
                        <input class="form-control" id="email_update" type="text"placeholder="Change Email@ Adress">
                        <input type="hidden" id="user_id">
                      </div>
                     </div>
                      <div class="row">
                        <div class="col-xs-4">
                          <label for="ex3">Username</label>
                          <input class="form-control" id="username_update" type="text"placeholder="Change Username">
                          <input type="hidden">
                        </div>
                        <div class="row">
                          <div class="col-xs-4">
                            <label for="ex3">Gender</label>
                            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender1" value="male"checked="checked1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender2" value="female"checked>
                <label class="form-check-label" for="gridRadios2">
                  Female
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gender" id="gender3" value="other"checked>
                <label class="form-check-label" for="gridRadios3">
                  Other
                </label>
              </div>
            </div>
                            <input class="form-control" id="gender_update" type="text"placeholder="Change Gender">
                            <input type="hidden">
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-4">
                              <label for="ex3">State</label>
                              <div class="col-sm-10">
                                <div class="form-check">
                                  <input class="form-check-input" name="state" type="checkbox" value="punjab"id="gridCheck1"checked>
                                  <label class="form-check-label" for="gridCheck1">
                                    Punjab
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="state" type="checkbox" value="himachal"id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                      Himachal
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" name="state" type="checkbox" value="haryana"id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                      haryana
                                    </label>
                                  </div>
                              </div>
                              <input class="form-control" id="state_update" type="text"placeholder="Change State">
                              <input type="hidden">
                            </div>
                        
                            <div class="row">
                              <div class="col-xs-4">
                                <label for="ex3">city</label>
                                <select class="custom-select mr-sm-2" id="singleSelectTextDDjQuery">
                                  <option selected>Choose...</option>
                                  <option value="Jalandhar">Jalandhar</option>
                                  <option value="Amritsar">Amritsar</option>
                                  <option value="chandigarh">chandigarh</option>
                                </select>
                                <input class="form-control" id="city_update" type="text"placeholder="Change City">
                                <input type="hidden">
                              </div>
                    </div>
                    </div>
                  </form>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button onclick="update()"type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                  </div>
                </div>   
          </tr>
        </tbody>
        <% } %>
      </table>
      </div>

</body>
</html>